/*
    Created on : 12. 12. 2020, 16:35:09
    Author     : Tomáš Douděra
*/

//
// MAIN SETTING
//--------------------------------------

$debug: false;
/*
$body-padding-top: 72;
*/

//
// BOOTSTRAP SETTING
//--------------------------------------

// Colors
$primary: #131d47;
$secondary: #ffffff;
$body-color: #111;

// Font
$font-weight-bold: 600;

// Link hover text decoration
$link-hover-decoration: none;

// Nav setting
$nav-tabs-link-active-color: $primary;
$navbar-light-active-color: $primary;

// Buttons
$input-btn-font-size: rem(13);

// Collapse
$transition-collapse: none;



//
// COLORS
//--------------------------------------

/*// Main
$primary-color    : #131d47;
$secondary-color  : #ffffff;
$bg-main-color    : #ffffff;

// Text
$text-color       : rgba(0,0,0,.6);
$text-muted-color : #777;

// Others
$danger-color     : #a83632;
$warning-color    : #d5f026;
$dark-color       : #2b2b2b;
$success-color    : #19cf25;
*/
// Page parts
$nav-color-bg        : #ffffff;
$prefooter-color-bg  : #424242;
$footer-color-bg     : #777777;



//
// Typography
//--------------------------------------

/*// Fonts
$font-size-base: 100%;
$font-family-sans: Montserrat, sans-serif;
$font-family-serif: 'Big Caslon', Georgia, serif;

// Headings
$fs-h1: 54;
$fs-h2: 36;
$fs-h3: 28;
$fs-h4: 24;
$fs-h5: 20;
$fs-h6: 18;

$p-line-height: 23;*/

